.user-container {
  font-family: Montserrat;
  padding: 1rem;
  max-width: 90%;
  margin: auto;
}

.account-box, .history-box {
  /* background-color: #b8fce0; */
  /* background-color: #7ed4ad; */
  background-color: #acfadf;
  border-radius: 20px;
  padding: 1rem 2.25rem;
  margin-bottom: 1.875rem;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #474F7A;
    margin-top: -1rem;
    /* margin-top: -3%; */

}

.account-content {
  /* margin-top: -2%; */
  padding: 0rem 5.5rem;
  
}

.account-name {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.account-avatar {
    color: #FFFFFF;
    font-size: 2.5rem !important;
}

.name-input {
  background-color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 8px;
}

.account-details {
    background-color: #FFFFFF;
    padding: 0.05rem 1.5rem;
    border-radius: 10px;
    font-size: 0.9rem;
}

.account-details p {
  margin: 0.625rem 0;
 
}

.history-header {
  text-align: center;
  color: #474F7A;
  margin-bottom: 0.625rem;
  font-family: Montserrat;
    font-weight: 600;
    font-size: 1.1rem;
  margin-top: -0.3rem;


}

.history-table {
  background-color: white;
  border-radius: 12px;
  /* padding: 0.625rem 1.25rem; */
   border-collapse: collapse;
  width: 100%;
}


 .table-row {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1fr 2fr 0.5fr;
  align-items: center;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border-bottom: 1px solid #ccc;

}

.table-header {
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   display: grid;
  grid-template-columns: 0.8fr 0.8fr 1fr 2.5fr; 
  align-items: center;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border-bottom: 1px solid #ccc;
}

.table-header > span,
.table-row > span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 0.5rem;
  height: 100%;
  box-sizing: border-box;
}


.table-header {
  font-weight: bold;
  color: #e53935;
  background-color: #e6f7ef;
}

.table-row:last-child {
  border-bottom: none;
}


.video-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.75rem;
  gap: 0.75rem;

}

.video-pagination button {
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 2.25rem;
  min-height: 2.25rem;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Montserrat;
}

.video-pagination button:hover {
  background-color: #115293;
  color: white;
}

.table-row span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-row .download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  width: 50%;
  height: 100%;
  margin-left: 25%;
}

/* Icon màu cho phát hiện lửa 
.table-row span svg {
  vertical-align: middle;
}

 Button download màu sắc 
.table-row button,
.table-row .MuiIconButton-root {
  color: #60477d;
  transition: color 0.3s ease;
}

.table-row button:hover,
.table-row .MuiIconButton-root:hover {
  color: #452b6d;
}
*/