/* Import font Montserrat từ Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap'); */

body {
  font-family: 'Montserrat', sans-serif;
}

.dashboard-container {
  padding: 5% 7%;
 
  min-height: 100vh;
}

:where(.css-dev-only-do-not-override-18afz5u).ant-card .ant-card-body {
     /* background-color:#EDE7F6!important; */
    
  /* background-color:  #d2f4d2 !important; */
  background-color:  #B9FFDE !important;
      border-radius: 16px;
}

.dashboard-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
  height: 100%;
  width: 100%;
   background-color: #B9FFDE !important;
    /* border: 1px solid #b7eb8f !important; */
}


.dashboard-card:hover {
  transform: scale(1.01);
}

.chart-card {
  border-radius: 16px;
 background-color: #f6ffed !important;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-title {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
  margin-bottom: 1rem;
}

.donut-chart {
      width: 100%;
      height: 40vh;
      display: "flex";
      justify-content: center;
      align-items:  center;
}


/* Màn hình nhỏ hơn hoặc bằng 414px (điện thoại) */
@media (max-width: 414px) {
  .dashboard-container {
    padding: 5% 3%;
  }

  .dashboard-card {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  }

  .chart-card {
    padding: 0.5rem;
  }

  .chart-title {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

    .donut-chart {
      width: 100%;
      height: 18vh;
      display: "flex";
      justify-content: center;
      align-items:  center;
}
}

/* Màn hình nhỏ hơn hoặc bằng 768px (máy tính bảng) */
@media (max-width: 768px) {
  .dashboard-container {
    padding: 5% 5%;
  }

  .donut-chart {
      width: 100%;
      height: 20vh;
      display: "flex";
      justify-content: center;
      align-items:  center;
}

  .dashboard-card {
    border-radius: 14px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
  }

  .chart-card {
    padding: 0.75rem;
  }

  .chart-title {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1024px) {
.donut-chart {
      width: 100%;
      height: 25vh;
      display: "flex";
      justify-content: center;
      align-items:  center;
}
}