/* Import font Montserrat tá»« Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap'); */

body {
  font-family: 'Montserrat', sans-serif;
}

.dashboard-container {
  padding: 5% 7%;
 
  min-height: 100vh;
}

:where(.css-dev-only-do-not-override-18afz5u).ant-card .ant-card-body {
     /* background-color:#EDE7F6!important; */
    
  /* background-color:  #d2f4d2 !important; */
  background-color:  #B9FFDE !important;
      border-radius: 16px;
}

.dashboard-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
  height: 100%;
  width: 100%;
   background-color: #B9FFDE !important;
    /* border: 1px solid #b7eb8f !important; */
}


.dashboard-card:hover {
  transform: scale(1.01);
}

.chart-card {
  border-radius: 16px;
 background-color: #f6ffed !important;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-title {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
  margin-bottom: 1rem;
}

