.video-page {
  margin: 4% 12.5% 4% 12.5%;
  padding: 1.3rem;
  background: #b9ffde;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: auto;
    position: relative;
}

.tabs {
  display: flex;
  display: flex;
  margin-top: -2rem;
  margin-left: -1.3rem;
  margin-right: -1.3rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  /* margin-bottom: 1rem; */
}

.tab-button {
  flex: 1;
  padding: 0.7rem;
  background-color: #b9ffde;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.tab-button.active {
  background-color: #67af6f;
  color: white;
}

.tab-content {
  padding: 0.5rem;
  background: #eaffea;
  height: 98%;
  /* border-radius: 8px; */
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  /* max-height: 100vh; */
}

.upload-header {
  display: flex;
  align-items: center;
  height: 6vh;
}

.upload-title {
  margin-left: 0.7rem;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #474f7a;
}

.file-upload-icon,
.link-icon {
  font-size: 1.65rem !important;
  color: #474f7a;
}

.upload-box {
  border: 5px solid #62a76a;
  border-radius: 30px;
  text-align: center;
  width: 35%;
  height: 85% !important;
  /* max-width: 50%; */
  background: white;
  margin-bottom: 0.8rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.upload-box p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 100%;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 0rem;
  color: #474f7a;
}

.file-upload-icon-2 {
  font-size: 3.6rem !important;
  color: #4f5153;
}

.upload-link {
  display: flex;
  align-items: center;
  /* margin-left: 20%; */
  max-width: 80%;
  width: 100%;
  height: 7vh;
}

.url-input {
  display: flex;
  align-items: center;
  border: 5px solid #63a76a;
  border-radius: 20px;
  background: white;
  padding: 0.5rem;
  max-width: 80%;
  width: 100%;
  margin-bottom: 1rem;
}

.url-input input {
  flex: 1;
  border: none;
  outline: none;
  padding-left: 0.5rem;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.upload-button {
  /* margin-left: auto; */
  display: block;
  background: #57b657;
  color: white;
  padding: 0.625rem 1.5rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0px 4px 4px 0px #00000045;
  box-shadow: 0px 4px 4.3px 0px #00000040;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  align-items: flex-end;
}

.upload-button:hover {
  background: #4ca64c;
}

.camera-tab {
  text-align: center;
}

.camera-video {
  width: 90%;
  height: 70%;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  border: 5px solid #57b657;
  border-radius: 12px;
}

.camera-button,
.analyze-button {
  justify-items: center;
  background: #57b657;
  color: white;
  padding: 0.625rem 1.5rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}

.camera-button:hover,
.analyze-button:hover {
  background: #4ca64c;
}

.video-preview-section {
  padding: 0.5rem;
  background: #eaffea;
  height: 98%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* border-radius: 8px; */
}

.video-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: auto;
  padding: 0.85rem;
  border-radius: 30px;
  background-color: #f8f8f8;
  border: 7px solid #c4d9ff;
  text-align: center;
  flex-direction: column;
  height: 45vh;
  overflow: hidden;
  position: relative;
  width: 78%;
}

.analyze-video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-message {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  font-weight: bold;
  color: #007bff;
  animation: pulse 1.2s infinite;
  font-size: 1.25rem;
  align-items: center;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}


/* .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-content {
  text-align: center;
} */

.loading-overlay {
   position:absolute; 
  top: 0;
  left: 0;
   margin: 4% 12.5% 4% 0%;
  padding: 1.3rem;
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  pointer-events: all; 
}
